body {
    text-align: center;
    overflow: hidden;
    background-image: url('backgroundd.png');
}
#board {
    background-color:midnightblue;
    border-color: whitesmoke;
    border-radius: 20px;
    border-style: groove;
    
}
h1 { 
    color: darkred; font-family: 'Helvetica Neue', sans-serif; font-size: 70px; font-weight: bold;
    letter-spacing: -1px; line-height: 1; text-align: center; 
    perspective: 200px;
    transform: perspective(200px) rotateX(-35deg);
    animation: wave 2s linear infinite;
    border-color: darkred;
    border-style:groove;
    border-radius: 40px;
    font-weight: 900;
    border-width: 0.7cm;
    text-shadow: 5px 5px 5px red;
    
}
@keyframes wave {
    0% {
      transform: translateY(20);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(20);
    }
  }