body {
    text-align: center;
    overflow: hidden;
    background-image: url('backgroundd.png');
}
#board {
    background-color:midnightblue;
    border-color: whitesmoke;
    border-radius: 20px;
    border-style: groove;
    
}
h1 { 
    color: darkred; font-family: 'Helvetica Neue', sans-serif; font-size: 70px; font-weight: bold;
    letter-spacing: -1px; line-height: 1; text-align: center; 
    perspective: 200px;
    transform: perspective(200px) rotateX(-35deg);
    animation: wave 2s linear infinite;
    border-color: darkred;
    border-style:groove;
    border-radius: 40px;
    font-weight: 900;
    border-width: 0.7cm;
    text-shadow: 5px 5px 5px red;
    
}

.new-game-button {
  display: none;
  position: absolute;        /* Абсолютно позициониране */
  width: 100px;
  height: 100px;
  top: 200px;                 /* Разстояние от горния край */
  left: 650px;                /* Разстояние от левия край */
  padding: 50px 100px;        /* Размери на бутона */
  font-size: 16px;
  background-color: white;   /* Бял фон */
  color: rgb(255, 0, 0);              /* Черен текст */
  border: 1px solid rgb(0, 0, 0);   /* Черен контур */
  border-radius: 5px;        /* Заоблени ъгли */
  cursor: pointer;
  font-size: 36px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;             /* Центриране по вертикала */
  justify-content: center;         /* Центриране по хоризонтала */
}
@keyframes wave {
    0% {
      transform: translateY(20);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(20);
    }
  }
